@media only screen and (max-width: 700px) {
    body{
        background-color: blue;
    }
    img{
        display: none;
    }
}
@media only screen and (min-width: 700px) {
    

header{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-color: #5CDB95;
}
.alert{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}